<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preload" as="style" href="{{ "css/bul.min.css" | absURL }}">
    <link rel="preload" as="style" href="{{ "css/style.css" | absURL }}">

    <link rel="stylesheet" href="{{ "css/bul.min.css" | absURL }}">
    <link rel="stylesheet" href="{{ "css/style.css" | absURL }}">
    <title>{{ .Title }}</title>
    <meta name="description" content="{{ .Description }}">
    <link rel="canonical" href="{{ .Permalink }}">
    <link rel="alternate" href="{{ .Permalink }}" hreflang="x-default" />
    <link rel="shortcut icon" href="{{ "img/icons/apple-touch-icon.png" | absURL }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ "img/icons/apple-touch-icon.png" | absURL }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ "img/icons/favicon-32x32.png" | absURL }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ "img/icons/favicon-16x16.png" | absURL }}">
    <link rel="manifest" href="{{ "img/icons/site.webmanifest" | absURL }}">
    <link rel="mask-icon" href="{{ "img/icons/safari-pinned-tab.svg" | absURL }}" color="#ffa500">
    <meta name="msapplication-TileColor" content="#ffa500">
    <meta name="theme-color" content="#f4f4f4">
</head>
