<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preload" as="style" href="{{ "css/bul.min.css" | relURL }}">
    <link rel="preload" as="style" href="{{ "css/style.css" | relURL }}">

    <link rel="stylesheet" href="{{ "css/bul.min.css" | relURL }}">
    <link rel="stylesheet" href="{{ "css/style.css" | relURL }}">
    <title>{{ .Title }}</title>
    <meta name="description" content="{{ .Description }}">
    <link rel="canonical" href="{{ .Permalink }}">
    <link rel="alternate" href="{{ .Permalink }}" hreflang="x-default" />
    <link rel="shortcut icon" href="{{ "img/icons/apple-touch-icon.png" | relURL }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ "img/icons/apple-touch-icon.png" | relURL }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ "img/icons/favicon-32x32.png" | relURL }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ "img/icons/favicon-16x16.png" | relURL }}">
    <link rel="manifest" href="{{ "img/icons/site.webmanifest" | relURL }}">
    <link rel="mask-icon" href="{{ "img/icons/safari-pinned-tab.svg" | relURL }}" color="#ffa500">
    <meta name="msapplication-TileColor" content="#ffa500">
    <meta name="theme-color" content="#f4f4f4">
    <link rel="profile" href="https://gmpg.org/xfn/11">
	  <meta name='robots' content='index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1' />

    {{ if .IsHome }}
      <meta property="og:locale" content="en_US" />
      <meta property="og:type" content="website" />
      <meta property="og:title" content="{{ .Title }}" />
      <meta property="og:url" content="{{ .Permalink }}" />
      <meta property="og:site_name" content="{{ .Site.Params.author }}" />
      <meta property="article:publisher" content="{{ .Site.BaseURL }}" />
      <meta property="article:modified_time" content="{{ .Params.mod_date }}" />
      <meta name="author" content="{{ .Site.Params.author }}" />
      <meta name="twitter:card" content="summary" />
    {{ end }}

    {{ if eq .Params.type "article" }}
    <meta property="og:locale" content="en_US" />
  	<meta property="og:type" content="article" />
  	<meta property="og:title" content="{{ .Title }}" />
  	<meta property="og:description" content="{{ .Description }}" />
  	<meta property="og:url" content="{{ .Permalink }}" />
  	<meta property="og:site_name" content="{{ .Site.Params.author }}" />
  	<meta property="article:publisher" content="{{ .Site.BaseURL }}" />
  	<meta property="article:published_time" content="{{ .Date }}" />
  	<meta property="article:modified_time" content="{{ .Params.mod_date }}" />
  	<meta property="og:image" content="{{ .Params.thumbnail | relURL }}" />
  	<meta property="og:image:width" content="696" />
  	<meta property="og:image:height" content="392" />
  	<meta property="og:image:type" content="image/jpeg" />
  	<meta name="author" content="{{ .Site.Params.author }}" />
  	<meta name="twitter:card" content="summary" />
  	<meta name="twitter:title" content="{{ .Title }}" />
  	<meta name="twitter:description" content="{{ .Description }}" />
  	<meta name="twitter:image" content="{{ .Params.thumbnail | relURL }}" />
  	<meta name="twitter:label1" content="Written by" />
  	<meta name="twitter:data1" content="{{ .Site.Params.author }}" />
  	<meta name="twitter:label2" content="Est. reading time" />
  	<meta name="twitter:data2" content="{{ math.Round (div (countwords .Content) 220.0) }} minutes" />
    {{ end }}
</head>
