<nav class="navbar is-fixed-top" aria-label="main navigation">
  <div class="container">
  <div class="navbar-brand">
    <a class="navbar-item" href="{{ .Site.BaseURL }}" title="{{ .Site.Params.author }} Home">
      <img src="{{ .Site.Params.logo | relURL }}" width="112" height="28" alt="Thelazynfter logo">
    </a>

    <a role="button" id="menu-btn" class="navbar-burger has-text-grey-light" aria-label="open menu" aria-expanded="false" data-target="mainNav">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="mainNav" class="navbar-menu">
    <div class="navbar-end">
        {{ $currentPage := . -}}
        {{ range .Site.Menus.main -}}

        <a class="navbar-item" href="{{ .URL | relLangURL }}"{{ if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} class="is-active" aria-current="page"{{ end }}>{{ .Name }}</a>

        {{ end -}}

    </div>
  </div>
  </div>
</nav>
