{{ if .IsHome }}

<script type='application/ld+json'>
{
  "@context": "http://www.schema.org",
  "@type": "WebSite",
  "name": "{{ .Site.Params.Author }}",
  "alternateName": "{{ .Site.Params.Author }}",
  "url": "{{ .Site.BaseURL }}"
}
 </script>

{{ else }}

<script type="application/ld+json">
{
    "@context": "https://schema.org",
    "@type": "WebPage",
    "name": "{{ .Title }}",
    "description": "{{ .Description }}",
    "publisher": {
        "@type": "Person",
        "name": "{{ .Site.Params.Author }}"
    },
    "license": "https://creativecommons.org/licenses/by-sa/4.0/"
}
</script>

<script type="application/ld+json">
   {
    "@context": "https://schema.org/",
    "@type": "WebPage",
    "name": "{{ .Title }}",
    "speakable":
    {
     "@type": "SpeakableSpecification",
     "xPath": [
       "/html/head/title",
       "/html/head/meta[@name='description']/@content"
       ]
     },
    "url": "{{ .Permalink }}"
    }
   </script>

{{ end }}

{{ if eq .Params.type "article" }}

<script type="application/ld+json">
    { "@context": "https://schema.org",
     "@type": "Article",
     "headline": "{{ .Title }}",
     "alternativeHeadline": "{{ .Title }}",
     "image": "{{ .Params.Thumbnail | relURL }}",
     "author": "{{ .Site.Params.Author }}",
     "award": "Crypto Geek",
     "editor": "{{ .Site.Params.Author }}",
    "publisher": {
        "@type": "Person",
        "name": "{{ .Site.Params.Author }}",
        "logo": {
          "@type": "ImageObject",
          "url": "{{ .Site.Params.logo }}"
        }
      },
     "url": "{{ .Site.BaseURL }}",
       "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "{{ .Permalink }}"
      },
     "datePublished": "{{ .Date }}",
     "dateCreated": "{{ .Date }}",
     "dateModified": "{{ .Params.mod_date }}",
     "description": "{{ .Description }}",
     "articleBody": "{{ .Content }}"
     }
    </script>

{{ end }}
