<div class="panel is-light">
    <p class="panel-heading is-size-6">
        Disclosure:
    </p>
    <p class="p-3 is-size-6">Some of the links in this article may be affiliate links, which can give compensation to me at no cost to you if you decide to sign up or buy a paid plan. This article isn't intended to give fiscal advice and is for entertainment purposes only. You can read more about affiliate links in my <a href="/disclaimer/" target="_blank">disclaimer policy</a>.</p>
</div>

<!-- <section class="panel is-light">
    <p class="panel-heading is-size-6">
        Adverticement
    </p>
    <figure class="image">
  <img src="{{ "img/free_nft_ad.webp" | absURL }}" width="300" height="250" alt="" loading="lazy">
</figure>
</section> -->
