{{ define "main" }}
<article>

  <header class="hero is-fullheight home-hero">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-vcentered reverse-columns">
          <div class="column
           is-10-mobile
           is-10-tablet
           is-6-desktop
           is-6-widescreen
           is-6-fullhd ">
            <h1 class="title titled is-1 mb-6 has-text-white is-size-2-mobile">
              {{ .Params.Headline }}
            </h1>
            <p class="has-text-grey-light mb-5">{{ .Params.intro }}</p>
            <div class="buttons">
              <a href="/learn/" class="button is-warning is-medium is-rounded">Start Learning</a>
            </div>
          </div>

        </div>
      </div>
    </div>
  </header>

  <section class="section container my-5" id="latest">
    <div class="columns">
      <div class="column is-two-thirds mb-5">
        <h2 class="title is-size-1 is-size-3-mobile has-text-white">Popular Crypto Guides.</h2>
        <p class="mt-5 has-text-grey-light">
          Here is a short list of crypto guides other visitors liked the most. For more articles and guides about crypto or NFTs you can visit the <a class="link-special" href="/learn/">learn crypto</a> section.
        </p>
      </div>
    </div>
    <div class="row columns is-multiline">
      {{ range ( first 3 ( where .Site.Pages "Layout" "trend" ).ByDate.Reverse ) }}
      <article class="column is-4">
        <div class="card large card-shadow card-bg">
          <div class="card-image">
            <div class="image is-4by3" aria-hidden="true">
              <img src="{{ .Params.Thumbnail | relURL }}" alt="{{ .Params.thumbnail_alt }}">
            </div>
          </div>
          <div class="card-content">
            <header class="content">
              <h3 class="title is-5 has-text-white">{{ .Title }}</h3>
              <p class="has-text-grey-light">{{ .Description }}</p>
            </header>
            <div class="">
              <a href="{{ .Permalink | relURL }}" aria-label="read article about {{ .Title }}" class="button is-warning is-small is-rounded">Continue Reading</a>
            </div>
          </div>
        </div>

      </article>
      {{ end }}
    </div>
  </section>

  <section class="section container my-5" id="latest">
    <div class="columns">
      <div class="column is-two-thirds mb-5">
        <h2 class="title is-size-1 is-size-3-mobile has-text-white">Latest Crypto Guides.</h2>
        <p class="mt-5 has-text-grey-light">
          An overview of the latest guides and articles that are published on this blog. Check the <a href="/learn/" class="link-special">learn crypto</a> section for even more beginner-friendly content.
        </p>
      </div>
    </div>
    <div class="row columns is-multiline">
      {{ range ( first 3 ( where .Site.Pages "Type" "article" ).ByDate.Reverse ) }}
      <article class="column is-4">
        <div class="card large card-shadow card-bg">
          <div class="card-image">
            <div class="image is-4by3" aria-hidden="true">
              <img src="{{ .Params.Thumbnail | relURL }}" alt="{{ .Params.thumbnail_alt }}">
            </div>
          </div>
          <div class="card-content">
            <header class="content">
              <h3 class="title is-5 has-text-white">{{ .Title }}</h3>
              <p class="has-text-grey-light">{{ .Description }}</p>
            </header>
            <div>
              <a href="{{ .Permalink | relURL }}" aria-label="read article about {{ .Title }}" class="button is-warning is-small is-rounded">Continue Reading</a>
            </div>
          </div>
        </div>

      </article>
      {{ end }}
    </div>
  </section>





</article>









{{ end }}
