{{ define "main" }}
<header class="hero has-background-dark is-fullheight">
    <div class="hero-body">
        <div class="container">
            <div class="columns  is-vcentered reverse-columns">
                <div class="column
         is-10-mobile
         is-10-tablet
         is-5-desktop
         is-5-widescreen
         is-5-fullhd ">
                    <h1 class="title titled is-1 mb-6 has-text-white is-size-2-mobile">
                        {{ .Params.Headline }}
                    </h1>
                    <p class="has-text-light mb-5">{{ .Params.intro }}</p>
                    <div class="buttons">
                          <a href="https://forms.gle/5GUu3RTNpcXnG5a67" target="_blank" rel="nofollow noopener" class="button is-warning is-medium is-rounded"><strong>Sign Up To Get Started.</strong></a>
                    </div>
                </div>
                <div class="column
         is-10-mobile
         is-10-tablet
         is-4-desktop
         is-7-widescreen
         is-4-fullhd is-offset-1-fullhd">
                    <figure class="image is-square">
                        <img class="fancy-border" src="{{ .Params.Thumbnail | absURL }}" alt="{{ .Params.thumbnail_alt }}" width="662" height="662" title="{{ .Params.thumbnail_alt }}">
                    </figure>
                </div>

            </div>
        </div>
    </div>
</header>

<section class="hero is-white is-fullheight">
    <div class="hero-body">
        <div class="container">
            <div class="columns  is-vcentered">
                <div class="column
         is-10-mobile is-offset-1-mobile
         is-10-tablet is-offset-1-tablet
         is-4-desktop is-offset-1-desktop
         is-4-widescreen is-offset-1-widescreen
         is-4-fullhd is-offset-1-fullhd">
                    <figure class="image is-square">
                        <img class="fancy-border" src="{{ "img/dystopian_tokyo_city.webp" | absURL }}" width="368" height="368" alt="AI generated tokyo city in dystopian style" loading="lazy" title="AI generated tokyo city in dystopian style">
                    </figure>
                </div>
                <div class="column
         is-10-mobile is-offset-1-mobile
         is-10-tablet is-offset-1-tablet
         is-5-desktop is-offset-1-desktop
         is-5-widescreen is-offset-1-widescreen
         is-5-fullhd is-offset-1-fullhd">
                    <h2 class="titled title is-size-2 mb-6 is-size-3-mobile">
                      What Is Crypto Art?
                    </h2>
                    <p>Crypto art is also used to indicate unique digital nifties. These are traded on the blockchain “gemint” making it a unique piece that is not found anywhere else.</p>

                    <p class="pt-5">This crypto art is then stored in a crypto wallet that is suitable for this, usually Metamask or other similar wallets that support NFTs.</p>
                </div>

            </div>
        </div>
    </div>
</section>

<section class="hero is-white is-fullheight">
    <div class="hero-body">
        <div class="container">
            <div class="columns  is-vcentered reverse-columns">
                <div class="column
         is-10-mobile is-offset-1-mobile
         is-10-tablet is-offset-1-tablet
         is-5-desktop is-offset-1-desktop
         is-5-widescreen is-offset-1-widescreen
         is-5-fullhd is-offset-1-fullhd">
                    <h2 class="title titled is-size-2 mb-6 is-size-3-mobile">
                      Can Anyone Make Crypto Art?
                    </h2>
                    <p>
                      Creating digital art or NFTs requires certain skills and expensive programs, but not everyone has these skills or knows how to use Photoshop.
                    </p>
                    <p class="pt-5">
                      With this free tool, anyone with a google account and internet can create digital “art” without having to spend any monthly money.
                    </p>
                </div>
                <div class="column
         is-10-mobile is-offset-1-mobile
         is-10-tablet is-offset-1-tablet
         is-4-desktop is-offset-1-desktop
         is-4-widescreen is-offset-1-widescreen
         is-4-fullhd is-offset-1-fullhd">
                    <figure class="image is-square">
                        <img class="fancy-border" src="{{ "img/shipwreck_underwater.webp" | absURL }}" alt="fish swim around shipwreck made with artificial intelligence" title="fish swim around shipwreck made with artificial intelligence" loading="lazy" width="368" height="368">
                    </figure>
                </div>

            </div>
        </div>
    </div>
</section>

<section class="hero is-medium has-background-light has-text-centered">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-8">
                    <h2 class="title titled is-size-2 mb-6 is-size-3-mobile">
                      Create Your Own NFT Art With This No-Code AI Art Generator.
                    </h2>
                    <p>
                      No more worrying about running out of art for your social media posts, wallpapers, or anything else. Make something new every day.
                    </p>
                    <div>
                         <a href="https://forms.gle/5GUu3RTNpcXnG5a67" target="_blank" rel="nofollow noopener" class="button is-warning is-medium is-rounded mt-5"><strong>Sign Up To Get Started.</strong></a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>



{{ end }}
