

<footer role="contentinfo" class="main-footer">
    <nav class="footer-nav">
        <ul id="footer-nav-items">
            {{ range .Site.Menus.foot }}
            <li><a href="{{ .URL }}" target="_blank">{{ .Name }}</a></li>
            {{ end }}
        </ul>
    </nav>
    <small>&copy; thelazynfter.blog</small>
</footer>

<aside class="snackbar">
    <nav class="snacknav">
        <ul>
            {{ range .Site.Menus.main }}
                <li><a href="{{ .URL }}" target="_self">{{ safeHTML .Name }}</a></li>
            {{ end }}
        </ul>
    </nav>
</aside>


<script src="{{ "js/main.js" | absURL }}"></script>