:root{
    font-size: 16px;
    --light-bg: #f4f4f4;
    --dark-bg: #000000;
    --light-txt: #f4f4f4;
    --dark-txt: #444;
    --border-color: #c6c6c6;
    --hover-txt: #fdecdbff;
    --btn-bg: orange;
    --btn-txt: #000000;
    --snackbar-bg: orange;
    --nackbar-txt: #000000;
    --affiliate-bg: #ffa50029;
    --affliate-txt: #0000000;
}
*{
    box-sizing: border-box;
}
body{
    min-height: calc(100vh);
    overflow-x: hidden;
    background-color: var(--light-bg);
    color: var(--dark-txt);
    z-index: 1;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}
button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
img{max-width: 100%;height: auto;}
a:focus{font-weight: 600;}
h2,h3,h4,h5,h6{text-transform: capitalize;}
.sub-list{
    background: var(--dark-bg);
    color: var(--light-txt);
}
.sub-bg-one{
    background-image:
    linear-gradient(to bottom, rgba(0, 0, 0, 0.32), rgba(0, 0, 0, 0.43)),
    url('../../img/bg/scifi_planet.webp') !important;
    background-position-x: center !important;
    background-position-y: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background: var(--dark-bg);
    color: var(--light-txt);
}
.sub-bg-two{
    background-image:
    linear-gradient(to bottom, rgba(0, 0, 0, 0.32), rgba(0, 0, 0, 0.43)),
    url('../../img/bg/scifi_game_arena.webp') !important;
    background-position-x: center !important;
    background-position-y: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background: var(--dark-bg);
    color: var(--light-txt);
}
.sub-bg-three{
    background-image:
    linear-gradient(to bottom, rgba(0, 0, 0, 0.32), rgba(0, 0, 0, 0.43)),
    url('../../img/bg/city_of_robots.webp') !important;
    background-position-x: center !important;
    background-position-y: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background: var(--dark-bg);
    color: var(--light-txt);
}

.affiliate{
    display: block;
    background: var(--affiliate-bg);
    color: var(--affliate-txt);
    padding: calc(1rem);
    margin: calc(1rem) 0;
    border-radius: calc(.6rem);
}
.main-btn{
    display: inline-block;
    background: var(--btn-bg);
    color: var(--btn-txt);
    padding: calc(.8rem) calc(2.4rem);
    margin: calc(1rem) 0;
    text-decoration: none;
    text-transform: capitalize;
    border-radius: calc(1rem);
    transition: all ease-in-out 360ms;
    font-weight: 600;
}
.main-btn:hover{
    transform: scale(.9);
}

.brandbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--dark-bg);
    color: var(--light-txt);
    position: fixed;
    height: auto;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    padding: calc(1rem);
}
#menu-btn{
    cursor: pointer;
    font-size: calc(1rem);
    color: var(--light-txt);
}
.main-nav{
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 80;
    height: calc(100vh - 57px);
    min-width: calc(70vw);
    background-color: var(--dark-bg);
    border-left: 1px solid var(--border-color);
}
.active-menu{display: flex;}
.main-nav ul{padding-left: 0;}
.main-nav ul li{list-style: none;margin: calc(2rem) 0;}
.main-nav ul li a{
    display: block;
    padding: calc(.4rem);
    align-items: stretch;
    color: var(--light-txt);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: calc(.1rem);
}

.hero{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-height: calc(100vh);
    padding: calc(1rem);
    background: var(--dark-bg);
    background-image:
    linear-gradient(to bottom, rgba(0, 0, 0, 0.32), rgba(0, 0, 0, 0.43)),
    url('../../img/bg/scifi_city_at_night.webp');
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--light-txt);
}
.hero__content h1{
    text-transform: capitalize;
    font-size: clamp(37px, calc(37px + 1vw), 50px);
}

.sub-hero{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-height: calc(100vh);
    padding: calc(1rem);
}
.sub-hero__content h2{
    text-transform: capitalize;
    font-size: clamp(37px, calc(37px + 1vw), 50px);
}

.single-page{
    padding: calc(4rem) calc(1rem);
}
.single-header figure{margin: calc(2rem) 0;}
.single-header figure img{border-radius: calc(.6rem);}





.main-footer{
    padding: calc(2rem) calc(1rem) calc(6rem) calc(1rem);
    background: var(--dark-bg);
    color: var(--light-txt);
}

.footer-nav ul{padding-left: 0;}
.footer-nav ul li{
    margin: calc(2rem) 0;
    list-style: none;
}
.footer-nav ul li a{
    text-decoration: none;
    text-transform: capitalize;
    padding: calc(.2rem) calc(.4rem);
    color: var(--light-txt);
}

.snackbar{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100;
    background: var(--snackbar-bg);
    height: auto;
    width: 100%;
}
.snacknav ul{padding-left: 0;}
.snacknav ul li{
    display: inline-block;
    list-style: none;
    margin: calc(.1rem);
}
.snacknav ul li a{
    text-decoration: none;
    text-transform: uppercase;
    padding: calc(1rem) calc(.6rem);
    color: var(--dark-txt);
}
.active-snack{
    border: 1px solid var(--border-color);
    background-color: var(--dark-bg);
    color: var(--light-txt) !important;
    border-top-right-radius: calc(1rem);
    border-bottom-left-radius: calc(1rem);
}

@media (min-width: 800px) and (orientation: landscape) {
    :root{font-size: 18px;}

    .main-nav{
        min-width: calc(30vw);
    }
    .main-nav ul li a:hover,#menu-btn:hover{
        color: var(--hover-txt);
    }
    .hero,.sub-hero{
        display: grid;
        grid-template-columns: repeat(6, 1fr);
    }
    .hero__content,.sub-hero__content{
        grid-column: 2 / 4;
    }
    .reverse-sub{
        grid-column: 4 / 6;
    }

    .single-page{
        display: grid;
        grid-template-columns: repeat(8, 1fr);
    }
    .single-header{
        grid-column: 3 / 7;
    }
    .single-content{
        grid-column: 3 / 7;
    }



    .main-footer{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        text-align: center;
        padding-bottom: calc(2rem);
    }
    .footer-nav ul li{
        display: inline-block;
        margin: calc(2rem) calc(1rem);
    }
    .footer-nav ul li a:hover{
        color: var(--hover-txt);
    }
    .snackbar{display: none;}
}