{{ define "main" }}
<main>
  <header class="hero">
    <div class="hero__content">
        <h1>{{ .Params.headline }}</h1>
        <p>{{ .Params.intro }}</p>
        <a href="#" class="main-btn">stay updated</a>
    </div>
  </header>

  <section class="sub-hero sub-bg-one">
    <div class="sub-hero__content reverse-sub">
        <h2>non token art</h2>
        <p>Are decentralized tokens that are unique, these can be cryptographic art, digital content, domains and other real world media assets.</p>
        <a href="/nft/" target="_self" class="main-btn">NFT guides</a>
    </div>
</section>

<section class="sub-hero sub-bg-two">
    <div class="sub-hero__content">
        <h2>pool & cloud mining</h2>
        <p>With mining you receive cryptocurrency by completing mined "proof of work" blocks, validating Bitcoin crypto transactions and adding new transactions to the blockchain.</p>
        <a href="/mining/" target="_self" class="main-btn">coin mining</a>
    </div>
</section>

<section class="sub-hero sub-bg-three">
    <div class="sub-hero__content reverse-sub">
        <h2>AI art generator text to image</h2>
        <p>The AI can create "art" and images from just a simple text description of what the image should look like. Will it be beautiful or weird? That's up to you.</p>
        <a href="https://forms.gle/bLskwEAyvcnBhrS68" target="_blank" rel="nofollow noopener" class="main-btn">cryptography generator</a>
    </div>
</section>
</main>

{{ end }}