{{ define "main" }}
<main>
    <article class="container">
        <div class="section">
            <div class="columns">
                <div class="column has-text-centered has-background-link py-6 mb-6">
                    <header>
                    <h1 class="title has-text-white">{{ .Title }}</h1><br>
                    </header>
                    <p class="subtitle has-text-white">
                        {{ .Description }}
                    </p>
                </div>
            </div>
            <div class="row columns is-multiline">
                {{ range .Pages.ByDate.Reverse }}
                <section v-for="card in cardData" class="column is-4">
                    <div class="card large">
                        <div class="card-image">
                            <figure class="image is-16by9">
                                <img src="{{ .Params.thumbnail }}" alt="{{ .Params.thumbnail_alt }}" loading="lazy">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                    <h2 class="title is-4">{{ .Title }}</h2>
                                    <p class="subtitle is-6">{{ .Description }}</p>
                                </div>
                            </div>
                            <div class="content">
                                <div class="buttons">
                                    <a href="{{ .RelPermalink }}" target="_self" aria-label="Read {{ .Params.headline }} article" class="button is-medium is-info is-light my-5">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                {{ end }}
            </div>
        </div>
    </article>



</main>

{{ end }}
