{{ define "main" }}
<main>
    <div class="section">
        <div class="columns">
            <article class="column is-three-fifths is-offset-one-fifth">
                <div class="has-text-centered">
                    <h1 class="title is-capitalized">{{ .Params.headline }}</h1>
                    <figure class="image is-16-9 my-5">
                        <img src="{{ .Params.thumbnail }}" alt="{{ .Params.thumbnail_alt }}" width="846" height="476">
                    </figure>
                </div>
                <div class="content">
                    {{ .Content }}
                </div>

            </article>
        </div>
    </div>
</main>

{{ end }}
