{{ define "main" }}
<main>
    <article>
  <header class="hero" style="background-image:
  linear-gradient(to bottom, rgba(0, 0, 0, 0.32), rgba(0, 0, 0, 0.43)),
  url('{{ .Params.thumbnail }}') !important; background-position-y: center; background-position-x: center;  background-repeat: no-repeat; background-size: cover !important;">
    <div class="hero__content">
        <h1>{{ .Params.headline }}</h1>
        <p>{{ .Params.intro }}</p>
        <a href="#all-guides" class="main-btn">latest articles</a>
    </div>
  </header>

  {{ range.Pages.ByDate.Reverse }}

  <section id="all-guides">

  <article class="sub-hero sub-list" style="background-image:
  linear-gradient(to bottom, rgba(0, 0, 0, 0.52), rgba(0, 0, 0, 0.73)),
  url('{{ .Params.thumbnail }}'); background-position-y: center; background-position-x: center;  background-repeat: no-repeat; background-size: cover !important;">
    <div class="sub-hero__content">
        <h2>{{ .Title }}</h2>
        <p>{{ .Description }}</p>
        <a href="{{ .Permalink }}" class="main-btn" aria-label="read {{ .Title }} article">read article</a>
    </div>
  </article>
  </section>

  {{ end }}


</article>
</main>

{{ end }}