{{ define "main" }}

<article class="hero is-fullheight section container">
		<div class="hero-body">
			<div class="container has-text-centered">
				<div class="columns is-8 is-variable ">
					<header class="column is-two-thirds has-text-left">
						<h1 class="title is-1 gradient-text">{{ .Params.Headline }}</h1>
						<p class="is-size-4 has-text-grey-light">{{ .Description }}</p>
					</header>

					<section class="column is-one-third has-text-left">
						<div class="field">
							<label class="label has-text-grey-light">Name</label>
							<div class="control">
								<input class="input is-medium" type="text">
							</div>
						</div>
						<div class="field">
							<label class="label has-text-grey-light">Email</label>
							<div class="control">
								<input class="input is-medium" type="text">
							</div>
						</div>
						<div class="field">
							<label class="label has-text-grey-light">Message</label>
							<div class="control">
								<textarea class="textarea is-medium"></textarea>
							</div>
						</div>
						<div class="control">
							<button type="submit" class="button is-warning is-rounded is-fullwidth has-text-weight-medium is-medium">Send Message</button>
						</div>
					</section>

				</div>
			</div>
		</div>
	</article>

{{ end }}
