{{ define "main" }}

<section class="container">
    <div class="section">
        <div class="columns">
            <header class="column is-two-thirds mb-5">
                <h1 class="title is-size-1 is-size-3-mobile">{{ .Params.headline }}</h1>
                <p class="subtitle mt-5">
                    {{ .Description }}
                </p>
            </header>
        </div>
        <div class="row columns is-multiline">
            {{ range .Pages.ByDate.Reverse }}
            <article class="column is-4">
                <div class="card large card-shadow">
                    <div class="card-image">
                        <figure class="image is-4by3" aria-hidden="true">
                            <img src="{{ .Params.Thumbnail | absURL }}" alt="{{ .Params.thumbnail_alt }}">
                        </figure>
                    </div>
                    <div class="card-content">
                            <div class="content">
                                <h2 class="title is-5">{{ .Title }}</h2>
                                <p>{{ .Description }}</p>
                            </div>
                        <div class="card-footer">
                            <a href="{{ .Permalink }}" aria-label="read article about {{ .Title }}" class="button is-link">Continue Reading</a>
                        </div>
                    </div>
                </div>

            </article>
            {{ end }}
        </div>

    </div>
</section>






{{ end }}
