{{ define "main" }}

<article class="section container mb-6" id="single-page">

    <div class="columns">
        <div class="column is-three-fifths is-offset-one-fifth">

            <header>
                <h1 class="title is-size-1">{{ .Params.Headline }}</h1>
                <p class="mb-5">Reading time: {{ math.Round (div (countwords .Content) 220.0) }} minutes.</p>
            </header>

            <div class="content">
                {{ .Content }}
            </div>

        </div>

    </div>

</article>


{{ end }}
