{{ define "main" }}

<div class="section container">

    <div class="columns">
        <article class="column is-two-thirds">

            <header>
                <h1 class="title is-size-1 is-size-3-mobile">{{ .Title }}</h1>
                <p>Reading time: {{ math.Round (div (countwords .Content) 220.0) }} minutes.</p>
                <figure class="image is-16by9 my-5" aria-hidden="true">
                    <img src="{{ .Params.Thumbnail | relURL }}" alt="{{ .Params.thumbnail_alt }}" width="696" height="392">
                </figure>
                <p>{{ .Params.intro }}</p>
            </header>

            <div class="content">
                {{ .Content }}
            </div>

        </article>



        <aside class="column">
            {{ partial "sidebar.html" . }}
        </aside>
    </div>

</div>


{{ end }}
