<div class="container">
    <div class="is-vcentered columns is-multiline">
        <div class="column is-6 is-5-desktop mb-4">
            <span class="has-text-white">Your help is needed.</span>
            <h2 class="has-text-white mt-2 mb-3 is-size-1 is-size-3-mobile has-text-weight-bold">Donate To Stay Ad Free</h2>
            <p class="has-text-white">Do you like the content on this website without trackers and ads? Consider donating to keep big tech out and privacy in.</p>
        </div>
        <div class="column is-5 ml-auto">
            <div class="mx-auto box p-6 has-background-light has-text-centered">
                <h3 class="is-size-5 mb-2 has-text-weight-bold">$1 Monero Donation Goes A Long Way</h3>
                <p class="has-text-grey-dark mb-4">Scan QR code below to send your Monero donation.</p>
                <figure>
                    <img src="/img//page/qr-monero.png" alt="Monero QR code for donations" width="463" height="463" loading="lazy">
                </figure>
            </div>
        </div>
    </div>
</div>
