<aside class="section has-background-link">
    {{ partial "donate.html" . }}
</aside>
<footer class="section" role="contentinfo">
    <div class="container">
        <div class="pb-5 is-flex is-flex-wrap-wrap is-justify-content-between is-align-items-center">
            <div class="mr-auto mb-2">
                <a class="is-inline-block" href="/" aria-label="back to home page">
                    <img class="image" src="{{ $.Site.Params.logo }}" alt="thelazynfter logo" width="96px" height="auto" loading="lazy"></a>
            </div>
            <div>
                <ul class="is-flex is-flex-wrap-wrap is-align-items-center is-justify-content-center">
                    <li class="mr-4"><a class="button is-white" href="/privacy-policy/" target="_blank">Privacy</a></li>
                    <li class="mr-4"><a class="button is-white" href="/disclaimer/" target="_blank">Disclaimer</a></li>
                    <li class="mr-4"><a class="button is-white" href="/license/" target="_blank">License</a></li>
                    <li><a class="button is-white" href="https://forms.gle/2nQ8WRGszvzBdeD4A" target="_blank">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="pt-5" style="border-top: 1px solid #dee2e6;"></div>
    <div class="container">
        <div class="is-flex-tablet is-justify-content-between is-align-items-center">
            <p>&copy; thelazynfter.blog &#45; 2022</p>
        </div>
    </div>
</footer>


<script src="{{ "/js/main.js" | relURL }}"></script>
