<footer class="footer mt-5">
  <div class="content has-text-centered">
    <p>{{ .Site.Title }} 2022 &#124; <a href="/privacy-policy/" target="_blank">Privacy</a> &#45; <a href="/disclaimer/" target="_blank">Disclaimer</a> &#45; <a href="/license/" target="_blank">License</a> &#45; <a href="/disability/" target="_blank">Disability</a></p>
  </div>
</footer>

{{ if .Params.guide_lock }}
<noscript><meta http-equiv="refresh" content="0;url=https://verifyspot.net/noscript" /></noscript>
<script type="text/javascript">var ogblock=true;</script>
<script type="text/javascript" id="ogjs" src="https://verifyspot.net/cl/js/8d1omj"></script>
<script type="text/javascript">if(ogblock) window.location.href = "https://verifyspot.net/adblock";</script>
{{ end }}


<script src="{{ "/js/main.js" | relURL }}"></script>
