<header>
<nav class="navbar is-fixed-top" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="/" title="thelazynfter Home">
                <img src="{{ $.Site.Params.logo }}" width="112" height="28" alt="thelazynfter logo" aria-label="welcome to thelazynfter">
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="main-navbar">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="main-navbar" class="navbar-menu">
            <div class="navbar-end">
                <a href="/nft/how-to-use-ai-art-generator/" class="navbar-item">
                    Art Generator
                </a>

                <a href="/nft/" class="navbar-item">
                    NFTs
                </a>
                <a href="https://forms.gle/P679Y2GCorNVZy3b7" target="_blank" rel="nofollow noopener" class="navbar-item">
                    Contact
                </a>


            </div>


        </div>
    </div>
</nav>
</header>
