
<head itemscope itemtype="{{ .Site.BaseURL }}">
    <title>{{ .Title }} | {{ $.Site.Title }}</title>
    <meta name="description" content="{{ .Description }}" />
    <meta itemprop="description" content="{{ .Description }}" />
    <meta property="og:description" content="{{ .Description }}" />
    <meta name="twitter:description" content="{{ .Description }}" />
    <base href="{{ .Permalink }}">
    <link rel="canonical" href="{{ .Permalink }}" itemprop="url" />
    <meta name="url" content="{{ .Permalink }}" />
    <meta property="og:url" content="{{ .Permalink }}" />
    <meta name="author" content="{{ .Site.Params.author }}">
    <meta charset="utf-8" />
    <meta property="og:locale" content="{{ .Language.Lang }}">
    <meta name="language" content="{{ .Language.LanguageName }}">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <link rel="apple-touch-icon" sizes="180x180" href="/img/favcons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favcons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favcons/favicon-16x16.png">
    <link rel="manifest" href="/img/favcons/site.webmanifest">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">

    <link rel="preload" href="{{ "/css/bulma.min.css" | relURL }}" as="style">
    <link rel="preload" href="{{ "/css/main.css" | relURL }}" as="style">

    <link rel="stylesheet" href="{{ "/css/bulma.min.css" | relURL }}">
    <link rel="stylesheet" href="{{ "/css/main.css" | relURL }}">

    {{ if .IsHome }}
    <script type='application/ld+json'>
        {
            "@context": "http://www.schema.org",
            "@type": "WebSite",
            "name": "{{ .Site.Title }}",
            "alternateName": "{{ .Site.Title }}",
            "url": "{{ .Site.BaseURL }}"
        }
    </script>
    {{ end }}

    {{ if eq .Type "post" }}
    <script type="application/ld+json">
{
"@context": "https://schema.org/",
"@type": "Article",
"mainEntityOfPage": {
"@type": "WebPage",
"@id": "{{ .Site.BaseURL }}"
},
"headline": "{{ .Title }}",
"description": "{{ .Description }}",
"image": {
"@type": "ImageObject",
"url": "{{ .Params.thumbnail }}",
"width": "696",
"height": "696"
},
"author": {
"@type": "Person",
"name": "{{ .Site.Params.author }}"
},
"publisher": {
"@type": "Organization",
"name": "{{ .Site.Params.author }}",
"logo": {
  "@type": "ImageObject",
  "url": "{{ .Site.Params.logo }}",
  "width": "600",
  "height": "100"
}
},
"datePublished": "{{ .Date }}",
"dateModified": "{{ .Params.mod_date }}"
}
</script>

{{ else }}
<script type="application/ld+json">
{
    "@context": "https://schema.org",
    "@type": "WebPage",
    "name": "{{ .Title }}",
    "description": "{{ .Description }}",
    "publisher": {
        "@type": "Organization",
        "name": "{{ .Site.Params.author }}"
    }
}
</script>


    {{ end }}
</head>
